NEXTAUTH_URL=http://localhost:3000


NEXT_PUBLIC_SUPABASE_URL=url_supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=anokey_supabase


NEXTAUTH_SECRET=la-clave-secreta
SUPABASE_SERVICE_ROLE_KEY=secrect-kery-supabase
BREVO_API_KEY=brevo-api-key


JWT_SECRET=claveSecreta


STRIPE_SECRET_KEY=stripe-secret-key
STRIPE_WEBHOOK_SECRET=stripe-webhook-secret

CLOUDINARY_CLOUD_NAME=nombre_cloudinary
CLOUDINARY_CLOUD_API_KEY=api_key_cloudinary
CLOUDINARY_CLOUD_API_SECRET=api_secret_cloudinary